extends ../main
block title
    - var title = 'Home'
    | goodgood
block content
    main.content
        include ../_common/_slider
        include ../_common/_services
        include ../_common/_portfolio
        section.container
            include ../_common/_services-type-2
            include ../_common/_reviews
            
        