extends ../main
block title
    | goodgood
block content
    main.content
        include ../_common/_slider
        include ../_common/_services
        include ../_common/_portfolio
        include ../_common/_services-type-2
            
        