.border
    section.container
        .services__title_type-2.services__title_reviews CLIENTS
        ul.clients-list
            -for(var i = 1; i <= 6; i++)
                li(class="clients__item_bg-#{i}").clients__item