footer.footer
    .container
        ul.footer-list
            li.footer__item
                .footer__title Twitter FEEDs
                .footer__publication-container.footer__publication-container_border-none
                    .footer__publication-text Check out this great theme item
                    a(href="#").footer__publication-link http://tadjalskfj.com
                    .footer__publication-date 2 weeks ago
                .footer__publication-container
                    .footer__publication-text Check out this great theme item
                    a(href="#").footer__publication-link http://tadjalskfj.com
                    .footer__publication-date 2 weeks ago
                .footer__publication-container
                    .footer__publication-text Check out this great theme item
                    a(href="#").footer__publication-link http://tadjalskfj.com
                    .footer__publication-date 2 weeks ago
            li.footer__item
                .footer__title NEWSLETTER
                .footer__publication-container.footer__publication-container_border-none
                    .footer__publication-text
                        | Lorem ipsum dolor sit amet, consectetur adip iscing elit. Ut ultricies sagittis magna a comm. Ut eget eros mauris, ut cursus urna.
                    .footer__publication-container
                        form(action="javascript:void(null);" method="POST").mail-container
                            label(for="mail").mail__label Your Email Address
                            input(type="text", id="mail", name="mail_subscription" ).mail__field
                            input(type="submit" value="Sign Up" name="submit_subscription" ).services__link_type-2
            li.footer__item
                .footer__title recent projects
                .footer__publication-container.footer__publication-container_border-none
                    .footer__publication-container-img
                        img(src="images/footer-project/img-1.jpg", alt="").footer__publication-img
                    .footer__publication-container_right
                        .footer__publication-text Check out this great theme item
                        a(href="#").footer__publication-link http://tadjalskfj.com
                        .footer__publication-date 2 weeks ago
                .footer__publication-container
                    .footer__publication-container-img
                        img(src="images/footer-project/img-1.jpg", alt="").footer__publication-img
                    .footer__publication-container_right
                        .footer__publication-text Check out this great theme item
                        a(href="#").footer__publication-link http://tadjalskfj.com
                        .footer__publication-date 2 weeks ago
                .footer__publication-container
                    .footer__publication-container-img
                        img(src="images/footer-project/img-1.jpg", alt="").footer__publication-img
                    .footer__publication-container_right
                        .footer__publication-text Check out this great theme item
                        a(href="#").footer__publication-link http://tadjalskfj.com
                        .footer__publication-date 2 weeks ago
            li.footer__item
                .footer__title Contact
                .footer__publication-container.footer__publication-container_border-none
                    .contact-icons.contact-icons-1
                    .footer__publication-container_right
                        a(href="tel:10000000000").footer__publication-text 1 - 000 - 000-0000
                        a(href="tel:10000000000").footer__publication-text 1 - 000 - 000-0000
                .footer__publication-container.footer__publication-container_border-none
                    .contact-icons.contact-icons-2
                    .footer__publication-container_right
                        a(href="tel:10000000000").footer__publication-text 1 - 000 - 000-0000
                        a(href="tel:10000000000").footer__publication-text 1 - 000 - 000-0000
                .footer__publication-container.footer__publication-container_border-none
                    .contact-icons.contact-icons-3
                    .footer__publication-container_right
                        a(href="mailto:abcdefg@hijs.dfh").footer__publication-text abcdefg@hijs.dfh
                        a(href="mailto:fjashfaf@jkfs.ckd").footer__publication-text fjashfaf@jkfs.ckd
                