block vars
.container
    header.header
        a(href="/").container-logo
            img(src="images/logo.png", alt="").logo
        nav.navigation-container
            .mobile-navigation
            - var menu = {'Home': '/', 'Portfolio': '/portfolio.html', 'About': '/about.html', 'Contact': '/contact.html', 'Blog': ''};
            ul.navigation__list
                each val, key in menu
                        li(class='navigation__item' + (title == key ? ' navigation__item_active' : ''))
                            a(href=val).navigation__link= key
        form(action="" method="POST").container-search
            input(type="search", name="search", placeholder="Search").search__field
            input(type="submit" value="").search__icon