.container
    header.header
        .container-logo
            img(src="images/logo.png", alt="").logo
        nav.navigation-container
            .mobile-navigation
            mixin nav(active)
                - var menu = ['Home', 'Portfolio', 'About', 'Contact', 'Blog']
                ul.navigation__list
                    each item in menu
                        li(href="#" class="navigation__item" + (active == item ? ' navigation__item_active' : ''))
                            a(href="#").navigation__link= item
            mixin nav('Home')
        form(action="").container-search
            input(type="search", name="search", placeholder="Search").search__field
            input(type="submit" value="").search__icon