.offer-services__border
    section.container
        ul.offer-services__list
            li.offer-services__item
                .offer-services__bg.offer-services__bg_1
                .offer-services__block-title Web Design
                .offer-services__desktiption
                    | Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis. 
            li.offer-services__item
                .offer-services__bg.offer-services__bg_2
                .offer-services__block-title Phone App
                .offer-services__desktiption
                    | Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis. 
            li.offer-services__item
                .offer-services__bg.offer-services__bg_3
                .offer-services__block-title Commercial
                .offer-services__desktiption
                    | Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis. 
            li.offer-services__item
                .offer-services__bg.offer-services__bg_4
                .offer-services__block-title Media Planing
                .offer-services__desktiption
                    | Lorem ipsum dolor sit ametconsec tetur adipiscing elit. Aliquam nulla nibh, fermentum nec interdum in, ultrices eget sapien. Ut sit amet vehicula risus. Nulla sed erat eu nisl porta bibendum. Sed tellus felis. 
        