section.portfolio-section
    .container
        .clearfix
            h2.portfolio-section__title Our Portfolio Awesome
            .portfolio-section__button More Works
        ul.portfolio-list
            li.portfolio__item
                a(href="#").portfolio__link
                    .portfolio__container-img
                        img(src="images/portfolio-prew/portfolio-1.jpg", alt="").portfolio__img
                .portfolio__title Lorem Ipsum Dolar Sit Amet
                .portfolio__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
            li.portfolio__item
                a(href="#").portfolio__link
                    .portfolio__container-img
                        img(src="images/portfolio-prew/portfolio-1.jpg", alt="").portfolio__img
                .portfolio__title Lorem Ipsum
                .portfolio__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscinglit.
            li.portfolio__item
                a(href="#").portfolio__link
                    .portfolio__container-img
                        img(src="images/portfolio-prew/portfolio-1.jpg", alt="").portfolio__img
                .portfolio__title Ipsum Amet Dolar Sit 
                .portfolio__description
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elitmauris nec ipsum at lacus commodo suscipit.