.services__title_type-2.services__title_reviews Testimonials
ul.reviews-list
    li.reviews__item.reviews_active
        .services__description.reviews__item_font-size
            | “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon”
        .reviews-name Jon Doe / Lorem Ipsum
    li.reviews__item.services__description
        .services__description.reviews__item_font-size
            | “Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.”
        .reviews-name Lana Wey / Lorem Ipsum
    li.reviews__item.services__description
        .services__description.reviews__item_font-size
            | “Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.”
        .reviews-name Lana Wey / Lorem Ipsum
ul.reviews-avatar-list
    li.reviews-avatar__item.reviews_active
        a(href="#").reviews__link.reviews-avatar__bg-1
    li.reviews-avatar__item
        a(href="#").reviews__link.reviews-avatar__bg-2
    li.reviews-avatar__item
        a(href="#").reviews__link.reviews-avatar__bg-1