section.container
    h2.services-title oUR SERVICES
    ul.services-list
        li.services__item
            .services__icon.services__icon_1
            .services__item-title Web Design
            .services__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit. 
                a(href="#").services__link Details..
        li.services__item
            .services__icon.services__icon_2
            .services__item-title Search Optimization
            .services__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit. 
                a(href="#").services__link Details..
        li.services__item
            .services__icon.services__icon_3
            .services__item-title Online Shop
            .services__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit. 
                a(href="#").services__link Details..
        li.services__item
            .services__icon.services__icon_4
            .services__item-title Social Media
            .services__text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
                a(href="#").services__link Details..