section.container
    h2.services__title_type-2 WHAT WE OFFER
    .services__description
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
    ul.services-list.services-list_type-2
        li.services__item.services__item_type-2
            .services__item-title.services__item-title_blue Web Design
            .services__text.services__text_align-left
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit. 
                a(href="#").services__link_type-2 Details..
        li.services__item.services__item_type-2
            .services__item-title.services__item-title_blue Search Optimization
            .services__text.services__text_align-left
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit. 
                a(href="#").services__link.services__link_type-3 Details..
        li.services__item.services__item_type-2
            .services__item-title.services__item-title_blue Online Shop
            .services__text.services__text_align-left
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit. 
                a(href="#").services__link_type-2.services__link_type-4 Details..
        li.services__item.services__item_type-2
            .services__item-title.services__item-title_blue Social Media
            .services__text.services__text_align-left
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nec ipsum at lacus commodo suscipit.
                a(href="#").services__link_type-5
    .services__title_type-2.services__title_type-3 Testimonials
    .services__description.services__description_type-2
        | “Lorem ipsum dolor sit amet, consectetur adipiscing elit mauris necip at lacus commodo suscipit praesent sollicitudin enim vel mirhon”