.slider-container
    .slider-list.owl-carousel
        .slider__item
            img(src="images/slider/slide-1.jpg", alt="").slider__img
            .slider__block-text
                .container
                    .slider__title
                        | Good Design Is Good Business
                    .slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    a(href="#").slider__button LEARN MORE
        .slider__item
            img(src="images/slider/slide-2.jpg", alt="").slider__img
            .slider__block-text
                .container
                    .slider__title
                        | Good Design Is Good Business
                    .slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    a(href="#").slider__button LEARN MORE
        .slider__item
            img(src="images/slider/slide-3.jpg", alt="").slider__img
            .slider__block-text
                .container
                    .slider__title
                        | Good Design Is Good Business
                    .slider__text
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ultricies sagittis magnaa commodo. Ut eget eros mauris, ut cursus urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices.
                    a(href="#").slider__button LEARN MORE
    