.title__page.title__page_top Our Team
ul.team__list
    li.team__item.team__item_left-shadow
        .team__top-content
            .team__container-photo
                img(src="images/team/team-1.jpg", alt="").team__photo
            .team__container-data
                .team__position Art Director
                .team__name JoN Doe Lorem
                .team__email jondoelorem@dil,d.com
        .team__description
            | Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis achen oldu bonibkno tranto.
    li.team__item.team__item_right-shadow
        .team__top-content
            .team__container-photo
                img(src="images/team/team-2.jpg", alt="").team__photo
            .team__container-data
                .team__position Art Director
                .team__name JoN Doe Lorem
                .team__email jondoelorem@dil,d.com
        .team__description
            | Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis achen oldu bonibkno tranto.
    li.team__item.team__item_left-shadow
        .team__top-content
            .team__container-photo
                img(src="images/team/team-1.jpg", alt="").team__photo
            .team__container-data
                .team__position Art Director
                .team__name JoN Doe Lorem
                .team__email jondoelorem@dil,d.com
        .team__description
            | Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis achen oldu bonibkno tranto.
    li.team__item.team__item_right-shadow
        .team__top-content
            .team__container-photo
                img(src="images/team/team-2.jpg", alt="").team__photo
            .team__container-data
                .team__position Art Director
                .team__name JoN Doe Lorem
                .team__email jondoelorem@dil,d.com
        .team__description
            | Lorem ipsum dolor sit amet, consectetur adip iscing elitont. Ut ultricies sagittis magna acommo doinger. Ut eget erosoni mauris utcurami susurnand. Vestibulum ante ipsu  primi sini  desiturkarti edolar sitamet deakorna seni cool derrsim de peace biraz doldin Nulla facilisi. Aliquam elit nisienatis achen oldu bonibkno tranto.