@mixin media($query) {
  @if $query {
    @media only screen and (#{$query}) { @content; }
  }
}

@function getColumnWidth($width, $columns, $margin){
    @return ($width / $columns) - $margin;
//    @return (100% / 4) - (10%);
}

%letter-spacing{
    letter-spacing: -0.3em;
}

%inline-block{
    display: inline-block;
    letter-spacing: normal;
    vertical-align: top;
}

%text-indent{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

%text-align-center{
    text-align: center;
}


%clearfix {
    &:before, &:after{
        content: "";
        display: table;
    }
    &:after{
        clear: both;
    }
}

$color:#515862;

$color-orange: #f98561;

$font-ubuntu:'Ubuntu';

$ubuntu-condensed:'Ubuntu Condensed';

$bree-serif: 'Bree Serif';

$bg-2:#2e3e4f;

$blue:#2190c1;

$bebas_neueregular:'bebas_neueregular';

h1, h2, h3{
    margin: 0;
    padding: 0;
}

ul{
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
}

input[submit]{
    border: none;
}

input, textarea{
    &:focus{
        outline: 1px solid $blue;
    }
}

html, body {
    height: 100%;
    background: #f4f4f4;
}

.wrapper{
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
    position: relative;
}

.content {
    display: table-row;
    height: 100%;
    overflow: hidden;
}

.container{
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
    box-sizing: border-box;
    @extend %clearfix;
    position: relative;
}

.background-top{
    position: relative;
    width: 100%;
    height: 295px;
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    margin: 0 0 20px;
    .slider__title_page{
        font-size: 80px;
    }
}

.title__page{
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
    color: $blue;
    font: 80px $bebas_neueregular;
    margin: 0 0 26px;
    @include media("max-width: 960px") {
        font-size: 65px;
    }
    @include media("max-width: 700px") {
        font-size: 50px;
    }
}

.clearfix{
    @extend %clearfix;
}





