.header{
    @extend %letter-spacing;
    width: 100%;
}

.container-logo{
    padding: 32px 0 20px 0.8%;
    width: 136px;
    height: 21px;
    @extend %inline-block;
}

.logo{
    width: 100%;
}

.mobile-navigation{
    display: none;
    @extend %inline-block;
    width: 40px;
    height: 30px;
    margin: 10px 0;
    overflow: hidden;
    background: url(../images/mobile-navigation.png) no-repeat center;
    @include media("max-width: 700px") {
        display: block;
        float: right;
    }
}

.navigation-container{
    @extend %inline-block;
    @extend %clearfix;
    width: 52.9%;
    margin: 0 0 0 18.8%;
    position: relative;
    @include media("max-width: 960px") {
        width: 64%;
        margin: 0 0 0 1%;
    }
    @include media("max-width: 700px") {
        margin: 13px 0 0 38%;
        width: 30%;
    }
    @include media("max-width: 480px") {
        margin: 13px 0;
        width: 50%;
    }
}

.navigation__list{
    @extend %letter-spacing;
    width: 100%;
    margin: 0 0 0 -2%;
    display: block;
    &:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-bottom: 7px solid $bg-2;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        top: -7px;
    }
    @include media("max-width: 960px") {
        margin: 0;
    }
    @include media("max-width: 700px") {
        margin: 0;
        display: none;
        background: $bg-2;
        position: absolute;
        top: 50px;
        left: 0;
        z-index: 4;
        &:before{
            right: 7px;
        }
    }
    @include media("max-width: 480px") {
        &:before{
            left: auto;
            right: 7px;
        }
    }
}

.navigation__item{
    @extend %inline-block;
    padding: 29px 0 15px;
    margin: 0 0 0 2%;
    @include media("max-width: 960px") {
        margin: 0;
    }
    @include media("max-width: 700px") {
        display: block;
        padding: 5px 0;
    }
}

.navigation__link{
    display: block;
    color: $color;
    padding: 5px 19px;
    border-radius: 3px;
    font: 400 14px $font-ubuntu;
    &:hover{
        background: #f98561;
        color: #fff;
    }
    @include media("max-width: 700px") {
        color: #fff;
    }
}

.navigation__item_active{
    background: #12a3d6;
    border-bottom: 11px solid #0080b7;
    position: relative;
    &:before{
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0 0 0 -6px;
        content: '';
        width: 0;
        height: 0;
        border-bottom: 7px solid #0080b7;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        @include media("max-width: 700px") {
            display: none;
        }
    }
    .navigation__link{
        color: #fff;
        font: 700 14px $font-ubuntu;
        &:hover{
            background: none;
        }
    }
}

.container-search{
    @extend %inline-block;
    width: 117px;
    padding: 22px 0 0;
    cursor: pointer;
    overflow: hidden;
    @include media("max-width: 960px") {
        margin: 0;
    }
    @include media("max-width: 700px") {
        width: 70%;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;
    }
    @include media("max-width: 480px") {
        width: 90%;
        border-bottom: 1px solid #ccc;
    }
}

.search__field{
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px 0 5px;
    float: left;
    font: 400 12px/39px $font-ubuntu;
    background: none;
    border: none;
    color: $color;
    height: 39px;
    &:focus{
        outline: none;
        border-bottom: 1px solid $blue;
    }
    &::-webkit-input-placeholder{
        color: $color;
    }
    &::-moz-placeholder{
        color: $color;
    }
    &::-ms-input-placeholder{
        color: $color;
    }
    @include media("max-width: 700px") {
        width: 100%;
    }
}

.search__icon{
    float: right;
    width: 36px;
    height: 36px;
    margin: 0 0 0 -36px;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    @extend %inline-block;
    background: #f98561 url(../images/search.png) no-repeat center;
    border: none;
    &:focus{
        outline: none;
    }
}