.portfolio-section{
    background: $bg-2;
    padding: 46px 0 0 0;
    .clearfix{
        margin: 0 0 64px;
    }
}

.portfolio-section__title{
    font: 400 30px $bree-serif;
    color: $color-orange;
    float: left;
    @include media("max-width: 480px") {
        float: none;
        margin: 15px;
    }
}

.portfolio-section__button{
    color: #fff;
    background: $blue;
    padding: 10px 12px;
    border-radius: 3px;
    text-align: center;
    float: right;
    @include media("max-width: 480px") {
        float: none;
    }
}

.portfolio-list{
    margin: 0 0 0 -4%;
    @extend %letter-spacing;
    overflow: hidden;
}

.portfolio__item{
    @extend %inline-block;
    width: getColumnWidth(100%, 3, 4%);
    margin: 0 0 78px 4%;
    overflow: hidden;
    @include media("max-width: 960px") {
        margin-bottom: 50px;
    }
    @include media("max-width: 480px") {
        width: getColumnWidth(100%, 1, 4%);
    }
}

.portfolio__link{
    width: 100%;
    box-sizing: border-box;
    display: block;
    border: 10px solid #ffffff;
    margin: 0 0 15px;
    position: relative;
    height: auto;
}

.portfolio__container-img{
    padding: 76.3% 0 0 0;
    overflow: hidden;
    position: relative;
}

.portfolio__img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.portfolio__hover{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 5;
    width: 90%;
    transform: translate(-50%, -50%);
    display: none;
    @include media("max-width: 700px") {
        display: block;
    }
}

.portfolio__container-details{
    width: 143px;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 6px;
    padding: 8px 15px;
    text-align: center;
    margin: 0 auto;
}

.portfolio__details{
    color: #fff;
    font: 400 17px $bree-serif;
    position: relative;
    padding: 0 0 0 48px;
    &:before{
        content: '';
        width: 35px;
        height: 23px;
        background: url(../images/details.png) no-repeat center;
        position: absolute;
        left: 0;
        top: 0;
    }
}

.portfolio__title{
    margin: 0 0 10px;
    font: 400 17px $bree-serif;
    color: $color-orange;
    @include media("max-width: 960px") {
        font-size: 18px;
    }
}

.portfolio__description{
    color: #bcbcbc;
    font: 400 11px $font-ubuntu;
    @include media("max-width: 960px") {
        font-size: 14px;
    }
}



