.slider-container{
    @include media("max-width: 420px") {
        display: none;
    }
}

.slider__item{
    display: block;
    overflow: hidden;
    max-height: 491px;
}

.slider__img{
    width: 100%;
    height: auto;
}

.owl-controls{
    padding: 0 20px;
    max-width: 920px;
    margin: 0 auto;
    box-sizing: border-box;
    @extend %clearfix;
    position: relative;
}

.owl-pagination{
    position: absolute;
    right: 20px;
    bottom: 28px;
    z-index: 3;
    @extend %letter-spacing;
}

.owl-page{
    width: 17px;
    height: 17px;
    background: #adadad;
    border-radius: 50%;
    margin: 0 0 0 4px;
    @extend %inline-block;
}

.active{
    background: #2190c1;
    box-shadow: inset 0 0 0 4px #f98561;
}

.slider__block-text{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #cccece;
    width: 100%;
    text-align: center;
}

.slider__title{
    font: 60px 'bebas_neueregular';
    text-transform: uppercase;
    margin: 0 0 25px;
    @include media("max-width: 960px") {
        font-size: 45px;
        margin: 0 0 15px;
    }
    @include media("max-width: 700px") {
        font-size: 27px;
        margin: 0 0 10px;
    }
}

.slider__text{
    font: 400 14px $font-ubuntu;
    margin: 0 0 45px;
    @include media("max-width: 960px") {
        font-size: 16px;
        margin: 0 0 15px;
    }
    @include media("max-width: 700px") {
        font-size: 14px;
    }
}

.slider__button{
    display: block;
    font: 25px $ubuntu-condensed;
    padding: 10px 0;
    width: 240px;
    text-align: center;
    color: #ffebca;
    background: #f98561;
    margin: 0 auto;
    border-radius: 4px;
    @include media("max-width: 960px") {
        font-size: 20px;
        width: 165px;
        padding: 5px;
    }
    @include media("max-width: 960px") {
        font-size: 16px;
        width: 120px;
    }
}