.header, .navigation__list, .owl-pagination, .services-list, .portfolio-list, .reviews-avatar-list, .footer-list {
  letter-spacing: -0.3em;
}

.container-logo, .mobile-navigation, .navigation-container, .navigation__item, .container-search, .search__icon, .owl-page, .services__item, .portfolio__item, .reviews-avatar__item, .footer__item {
  display: inline-block;
  letter-spacing: normal;
  vertical-align: top;
}

.container:before, .clearfix:before, .owl-controls:before, .container:after, .clearfix:after, .owl-controls:after {
  content: "";
  display: table;
}
.container:after, .clearfix:after, .owl-controls:after {
  clear: both;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

input {
  outline: none;
  border: none;
}

html, body {
  height: 100%;
  background: #f4f4f4;
}

.wrapper {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  position: relative;
}

.content {
  display: table-row;
  height: 100%;
  overflow: hidden;
}

.container {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.header {
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .header {
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
}

.container-logo {
  padding: 32px 0 0 2%;
  width: 136px;
  height: 21px;
}

.logo {
  width: 100%;
}

.mobile-navigation {
  display: none;
  width: 40px;
  height: 30px;
  margin: 10px 0;
  overflow: hidden;
  background: url(../images/mobile-navigation.png) no-repeat center;
}
@media only screen and (max-width: 700px) {
  .mobile-navigation {
    display: block;
  }
}
@media only screen and (max-width: 480px) {
  .mobile-navigation {
    float: right;
  }
}

.navigation-container {
  width: 52.9%;
  margin: 0 0 0 20%;
  position: relative;
}
@media only screen and (max-width: 960px) {
  .navigation-container {
    width: 64%;
    margin: 0 0 0 1%;
  }
}
@media only screen and (max-width: 700px) {
  .navigation-container {
    margin: 13px 9% 0;
    width: 30%;
  }
}
@media only screen and (max-width: 480px) {
  .navigation-container {
    margin: 13px 0;
    width: 49%;
  }
}

.navigation__list {
  width: 100%;
  margin: 0 0 0 -2%;
  display: block;
}
.navigation__list:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-bottom: 7px solid #2e3e4f;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: -7px;
}
@media only screen and (max-width: 960px) {
  .navigation__list {
    margin: 0;
  }
}
@media only screen and (max-width: 700px) {
  .navigation__list {
    margin: 0;
    display: none;
    background: #2e3e4f;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 4;
  }
  .navigation__list:before {
    left: 7px;
  }
}
@media only screen and (max-width: 480px) {
  .navigation__list:before {
    left: auto;
    right: 7px;
  }
}

.navigation__item {
  padding: 29px 0 15px;
  margin: 0 0 0 2%;
}
@media only screen and (max-width: 960px) {
  .navigation__item {
    margin: 0;
  }
}
@media only screen and (max-width: 700px) {
  .navigation__item {
    display: block;
    padding: 5px 0;
  }
}

.navigation__link {
  display: block;
  color: #515862;
  padding: 5px 19px;
  border-radius: 3px;
}
.navigation__link:hover {
  background: #f98561;
  color: #fff;
}
@media only screen and (max-width: 700px) {
  .navigation__link {
    color: #fff;
  }
}

.navigation__item_active {
  background: #12a3d6;
  font: 700 14px "Ubuntu";
  border-bottom: 11px solid #0080b7;
  position: relative;
}
.navigation__item_active:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0 0 0 -6px;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 7px solid #0080b7;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
@media only screen and (max-width: 700px) {
  .navigation__item_active:before {
    display: none;
  }
}
.navigation__item_active .navigation__link {
  color: #fff;
}
.navigation__item_active .navigation__link:hover {
  background: none;
}

.container-search {
  padding: 22px 0 0;
  cursor: pointer;
  font: 400 12px/39px "Ubuntu";
  color: #515862;
  margin: 0 0 0 1%;
}
@media only screen and (max-width: 960px) {
  .container-search {
    margin: 0;
  }
}
@media only screen and (max-width: 480px) {
  .container-search {
    display: block;
    text-align: center;
    padding: 0;
  }
}

.search__icon {
  width: 36px;
  height: 36px;
  background: #f98561;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin: 0 0 0 7px;
}
.search__icon:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 10px;
  width: 12px;
  height: 12px;
  background: #81bdd6;
  border-radius: 50%;
  border: 3px solid #fff;
}
.search__icon:after {
  content: '';
  position: absolute;
  top: 23px;
  left: 6px;
  width: 7px;
  height: 4px;
  background: #fff;
  transform: rotate(140deg);
  border-radius: 0 3px 3px 0;
}

@media only screen and (max-width: 420px) {
  .slider-container {
    display: none;
  }
}

.slider__item {
  display: block;
  overflow: hidden;
  max-height: 491px;
}

.slider__img {
  width: 100%;
  height: auto;
}

.owl-controls {
  padding: 0 20px;
  max-width: 920px;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.owl-pagination {
  position: absolute;
  right: 20px;
  bottom: 28px;
  z-index: 3;
}

.owl-page {
  width: 17px;
  height: 17px;
  background: #adadad;
  border-radius: 50%;
  margin: 0 0 0 4px;
}

.active {
  background: #2190c1;
  box-shadow: inset 0 0 0 4px #f98561;
}

.slider__block-text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #cccece;
  width: 100%;
  text-align: center;
}

.slider__title {
  font: 60px 'bebas_neueregular';
  text-transform: uppercase;
  margin: 0 0 25px;
}
@media only screen and (max-width: 960px) {
  .slider__title {
    font-size: 45px;
    margin: 0 0 15px;
  }
}
@media only screen and (max-width: 700px) {
  .slider__title {
    font-size: 27px;
    margin: 0 0 10px;
  }
}

.slider__text {
  font: 400 14px "Ubuntu";
  margin: 0 0 45px;
}
@media only screen and (max-width: 960px) {
  .slider__text {
    font-size: 16px;
    margin: 0 0 15px;
  }
}
@media only screen and (max-width: 700px) {
  .slider__text {
    font-size: 14px;
  }
}

.slider__button {
  display: block;
  font: 25px "Ubuntu Condensed";
  padding: 10px 0;
  width: 240px;
  text-align: center;
  color: #ffebca;
  background: #f98561;
  margin: 0 auto;
  border-radius: 4px;
}
@media only screen and (max-width: 960px) {
  .slider__button {
    font-size: 20px;
    width: 165px;
    padding: 5px;
  }
}
@media only screen and (max-width: 960px) {
  .slider__button {
    font-size: 16px;
    width: 120px;
  }
}

.services-title {
  text-transform: uppercase;
  color: #fff;
  font: 22px "bebas_neueregular";
  background: #2190c1;
  width: 145px;
  margin: -18px auto 33px auto;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
}
@media only screen and (max-width: 700px) {
  .services-title {
    font-size: 18px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 700px) {
  .services-title {
    font-size: 20px;
  }
}

.services-list {
  margin: 0 0 0 -8%;
}

.services__item {
  width: 17%;
  margin: 0 0 30px 8%;
  overflow: hidden;
  color: #515862;
}
@media only screen and (max-width: 960px) {
  .services__item {
    width: 42%;
  }
}

.services__icon {
  width: 118px;
  height: 118px;
  overflow: hidden;
  margin: 0 auto 22px auto;
  border-radius: 50%;
}

.services-icon-sprite, .services__icon_1, .services__icon_2, .services__icon_3, .services__icon_4 {
  background-image: url('../images/services-icon-s0f81c5d800.png');
  background-repeat: no-repeat;
}

.services__icon_1 {
  background-position: 0 0;
}

.services__icon_2 {
  background-position: 0 -118px;
}

.services__icon_3 {
  background-position: 0 -236px;
}

.services__icon_4 {
  background-position: 0 -354px;
}

.services__item-title {
  margin: 0 0 6px;
  font: 400 17px "Bree Serif";
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .services__item-title {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .services__item-title {
    text-align: left;
  }
}

.services__text {
  font: 11px/15px "Ubuntu";
  word-wrap: break-word;
  text-align: center;
}
@media only screen and (max-width: 960px) {
  .services__text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 480px) {
  .services__text {
    text-align: left;
  }
}

.services__link {
  color: #3e9dd1;
}

.portfolio-section {
  background: #2e3e4f;
  padding: 46px 0 0 0;
}
.portfolio-section .clearfix {
  margin: 0 0 64px;
}

.portfolio-section__title {
  font: 400 30px "Bree Serif";
  color: #f98561;
  float: left;
}
@media only screen and (max-width: 480px) {
  .portfolio-section__title {
    float: none;
    margin: 15px;
  }
}

.portfolio-section__button {
  color: #fff;
  background: #2190c1;
  padding: 10px 12px;
  border-radius: 3px;
  text-align: center;
  float: right;
}
@media only screen and (max-width: 480px) {
  .portfolio-section__button {
    float: none;
  }
}

.portfolio-list {
  margin: 0 0 0 -4%;
  overflow: hidden;
}

.portfolio__item {
  width: 29.33333%;
  margin: 0 0 78px 4%;
  overflow: hidden;
}
@media only screen and (max-width: 960px) {
  .portfolio__item {
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 480px) {
  .portfolio__item {
    width: 96%;
  }
}

.portfolio__link {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border: 10px solid #ffffff;
  margin: 0 0 15px;
  position: relative;
  height: auto;
}

.portfolio__container-img {
  padding: 76.3% 0 0 0;
}

.portfolio__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.portfolio__title {
  margin: 0 0 10px;
  font: 400 17px "Bree Serif";
  color: #f98561;
}
@media only screen and (max-width: 960px) {
  .portfolio__title {
    font-size: 18px;
  }
}

.portfolio__description {
  color: #bcbcbc;
  font: 400 11px "Ubuntu";
}
@media only screen and (max-width: 960px) {
  .portfolio__description {
    font-size: 14px;
  }
}

.services__title_type-2 {
  font: 400 40px "bebas_neueregular";
  color: #2190c1;
  text-align: center;
  margin: 30px 0 15px;
}

.services__description {
  font: 400 12px "Ubuntu";
  color: #515862;
  text-align: center;
  margin: 0 0 40px;
}
@media only screen and (max-width: 960px) {
  .services__description {
    font-size: 17px;
  }
}
@media only screen and (max-width: 480px) {
  .services__description {
    text-align: left;
  }
}

.services-list_type-2 {
  margin: 0 0 30px -4.9%;
  border-bottom: 1px solid #d9d9d9;
}
@media only screen and (max-width: 480px) {
  .services-list_type-2 {
    margin-left: -4%;
  }
}

.services__item_type-2 {
  width: 20.1%;
  margin: 0 0 25px 4.9%;
}
@media only screen and (max-width: 960px) {
  .services__item_type-2 {
    width: 42%;
  }
}
@media only screen and (max-width: 480px) {
  .services__item_type-2 {
    width: 96%;
    margin-left: 4%;
  }
}

.services__item-title_blue {
  color: #2190c1;
  text-align: left;
}

.services__text_align-left {
  text-align: left;
}

.services__link_type-2, .services__link_type-4 {
  display: block;
  float: right;
  background: #2190c1;
  color: #fff;
  margin: 10px 0;
  border-radius: 4px;
  padding: 5px 7px;
}
@media only screen and (max-width: 960px) {
  .services__link_type-2, .services__link_type-4 {
    float: left;
    margin: 30px 0 0 0;
  }
}

.services__link_type-3 {
  font: 14px "Bree Serif";
}

.services__link_type-4 {
  border-bottom: 3px solid #025568;
}

.services__link_type-5:after {
  content: '>>>';
  color: #2190c1;
  font-size: 14px;
}

.services__title_reviews {
  font-size: 27px;
  margin-bottom: 30px;
}

.reviews__item {
  display: none;
}
.reviews__item.reviews_active {
  display: block;
}

.reviews__item_font-size {
  font-size: 25px;
  margin: 0 0 12px;
  min-height: 100px;
  overflow: hidden;
  word-wrap: break-word;
}

.reviews-name {
  text-align: center;
  color: #f98561;
  font: 400 14px "Ubuntu";
  margin: 0 0 30px;
}

.reviews-avatar-list {
  text-align: center;
  margin: 0 0 15px;
}

.reviews-avatar__item {
  margin: 0 0 0 4px;
  position: relative;
}
.reviews-avatar__item:before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  height: 0;
  width: 67px;
  border-bottom: 3px solid #c1c1c1;
}
.reviews-avatar__item.reviews_active:before {
  border-color: #f98561;
}
.reviews-avatar__item.reviews_active:after {
  content: '';
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin: 0 0 0 -6px;
  content: '';
  width: 0;
  height: 0;
  border-bottom: 7px solid #f98561;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}

.reviews__link {
  display: block;
  width: 67px;
  height: 67px;
  border-radius: 50%;
  overflow: hidden;
}

.ava-icons-sprite, .reviews-avatar__bg-1, .reviews-avatar__bg-2 {
  background-image: url('../images/ava-icons-s5e3da431b3.png');
  background-repeat: no-repeat;
}

.reviews-avatar__bg-1 {
  background-position: 0 0;
}

.reviews-avatar__bg-2 {
  background-position: 0 -69px;
}

.footer {
  background: #2e3e4f;
  padding: 40px 0 32px;
}

.footer-list {
  margin: 0 0 0 -3%;
}
@media only screen and (max-width: 960px) {
  .footer-list {
    margin: 0 0 30px -10%;
  }
}

.footer__item {
  width: 22%;
  margin: 0 0 30px 3%;
  overflow: hidden;
}
@media only screen and (max-width: 960px) {
  .footer__item {
    width: 40%;
    margin: 0 0 30px 10%;
  }
}
@media only screen and (max-width: 480px) {
  .footer__item {
    width: 90%;
  }
}

.footer__title {
  color: #f98561;
  font: 30px "bebas_neueregular";
  margin: 0 0 7px;
  text-transform: uppercase;
}
@media only screen and (max-width: 960px) {
  .footer__title {
    text-align: center;
  }
}

.footer__publication-container {
  font: 400 12px "Ubuntu";
  padding: 11px 0 12px;
  border-top: 1px solid #556270;
  overflow: hidden;
}
.footer__publication-container.footer__publication-container_border-none {
  border: none;
}

.footer__publication-text {
  color: #a3afb2;
  margin: 0 0 5px;
  display: block;
  word-wrap: break-word;
}

.footer__publication-link {
  display: block;
  color: #2190c1;
  margin: 0 0 5px;
}

.footer__publication-date {
  color: #a3afb2;
  margin: 0 0 5px;
}

.mail__label {
  display: block;
  font: 400 13px "Ubuntu";
  color: #2190c1;
  margin: 0 0 15px;
}

.mail__field {
  width: 100%;
  border-radius: 4px;
  padding: 7px;
  box-sizing: border-box;
  margin: 0 0 17px;
}

.footer__publication-container_right {
  float: right;
  width: 68%;
}

.footer__publication-container-img {
  float: left;
  width: 56px;
  height: 56px;
  overflow: hidden;
}

.footer__publication-img {
  width: 100%;
  height: auto;
}

.footer__contact-icons {
  float: left;
  width: 35px;
  height: 37px;
  overflow: hidden;
}

.footer-icons-sprite, .footer__contact-icons-1, .footer__contact-icons-2, .footer__contact-icons-3 {
  background-image: url('../images/footer-icons-s219fcd15b9.png');
  background-repeat: no-repeat;
}

.footer__contact-icons-1 {
  background-position: 0 -37px;
}

.footer__contact-icons-2 {
  background-position: 0 -74px;
}

.footer__contact-icons-3 {
  background-position: 0 0;
}
